<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>FCC Voting App</title>

	<link href="../public/main.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
</head>
