<!DOCTYPE html>
<html>

<% include ./head %>

<body>
	<% include ./navigation %>
	
	<div class="content-wrap">
		<div class="block">New poll</div>
		
		<form enctype="x-www-form-urlencoded" action="/newpoll" method="post" id="newpoll">
			Question: <input type="text" name="newquestion"><br>
			Option: <textarea type="textarea" form="newpoll" class="textarea" name="newoptions"></textarea><br>
	   	<input type="submit" value="Submit">
		</form>
	
		<a href="/mypolls">Cancel</a>
	</div>
</body>

</html>
